@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Set colors for header-area */
/* Set colors for footer-area */
/* Set colors for content-area */
/* Set the gap between header, content, and footer areas */
/* Calculate shadow dimensions depending on the $area-gap */
/* Set number of columns in the layout. This is set much higher than needed
   because low numbers produces large gutter */
/* Set radii of borders */
/* Set dimensions for media-queries */
/* Initialize susy */
/*! Outermost container */
/* line 68, ../sass/screen.scss */
#wrap {
  /*! Create a container for column layout */
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*! Specify max and min dimensions for the pages content */
  max-width: 1000px;
  min-width: 350px;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
#wrap:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 76, ../sass/screen.scss */
#wrap .name {
  /*! We want to use small caps for all kind of person's names.
      Use <span class="name"> */
  font-variant: small-caps;
}
/* line 82, ../sass/screen.scss */
#wrap header {
  width: 98.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: black;
  color: #e6e6e6;
  -moz-box-shadow: 0.45em 0.45em 0.09em 0.045em #bfbfbf;
  -webkit-box-shadow: 0.45em 0.45em 0.09em 0.045em #bfbfbf;
  box-shadow: 0.45em 0.45em 0.09em 0.045em #bfbfbf;
  /*! Specify colors used in the header */
  background-color: black;
  color: #e6e6e6;
  /*! Specify margins of the header */
  margin-bottom: 0.6em;
  /*! This is used for the actual headline in the header */
  /*! Style the navigation bar */
}
/* line 104, ../sass/screen.scss */
#wrap header h1 {
  /*! Specify margin to all directions */
  margin: 0.5em;
}
/* line 111, ../sass/screen.scss */
#wrap header nav ul {
  /*! Make this a horizontal list, very similar but not equal to tabs */
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 115, ../sass/screen.scss */
#wrap header nav ul li {
  /*! More details about horizontal list */
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
  /*! Specify border radius */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /*! Specify colors */
  background-color: #bfbfbf;
  /*! Specify padding and margin */
  padding: 5px;
  margin: 0em 0.25em 0.25em 0.25em;
}
/* line 49, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrap header nav ul li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrap header nav ul li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrap header nav ul li.last {
  padding-right: 0;
}
/* line 126, ../sass/screen.scss */
#wrap header nav ul li:first-child {
  /*! readd some padding that was removed by compass earlier */
  padding-left: 5px;
}
/* line 131, ../sass/screen.scss */
#wrap header nav ul li:last-child {
  /*! readd some padding that was removed by compass earlier */
  padding-right: 5px;
}
/* line 136, ../sass/screen.scss */
#wrap header nav ul li a {
  /*! Since the labels of the nav-items are links, I need to style
      them here explicitely and can't use a color in parental li-rule */
  color: black;
}
/* line 146, ../sass/screen.scss */
#wrap footer {
  width: 98.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: black;
  color: #e6e6e6;
  -moz-box-shadow: 0.45em -0.45em 0.09em 0.045em #bfbfbf;
  -webkit-box-shadow: 0.45em -0.45em 0.09em 0.045em #bfbfbf;
  box-shadow: 0.45em -0.45em 0.09em 0.045em #bfbfbf;
  background-color: black;
  color: #e6e6e6;
  margin-top: 0.6em;
}
/* line 162, ../sass/screen.scss */
#wrap footer a {
  margin: 0.5em;
  float: right;
  color: #e6e6e6;
}
/* line 169, ../sass/screen.scss */
#wrap .content {
  width: 98.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: darkblue;
  color: #b5b5ff;
  -moz-box-shadow: 0.45em 0px 0.09em 0.045em #b5b5ff;
  -webkit-box-shadow: 0.45em 0px 0.09em 0.045em #b5b5ff;
  box-shadow: 0.45em 0px 0.09em 0.045em #b5b5ff;
  background-color: darkblue;
  color: #b5b5ff;
}
/* line 184, ../sass/screen.scss */
#wrap .content .factcard {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-sizing: border-box;
}
@media (max-width: 599px) {
  /* line 184, ../sass/screen.scss */
  #wrap .content .factcard {
    width: 98.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  /* line 184, ../sass/screen.scss */
  #wrap .content .factcard {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    /*! Proper lineup on break */
  }
  /* line 191, ../sass/screen.scss */
  #wrap .content .factcard:nth-child(2n+1) {
    clear: both;
  }
}
@media (min-width: 800px) {
  /* line 184, ../sass/screen.scss */
  #wrap .content .factcard {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    /*! Proper lineup on break */
  }
  /* line 196, ../sass/screen.scss */
  #wrap .content .factcard:nth-child(3n+1) {
    clear: both;
  }
}
/* line 204, ../sass/screen.scss */
#wrap .content .factcard .position {
  font-weight: bold;
}
/* line 208, ../sass/screen.scss */
#wrap .content .factcard img {
  float: left;
  padding: 0.5em;
}
/* line 213, ../sass/screen.scss */
#wrap .content .factcard a {
  color: #b5b5ff;
}
/* line 217, ../sass/screen.scss */
#wrap .content .factcard li {
  list-style: none;
  text-align: justify;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
/* line 11, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_bullets.scss */
#wrap .content .factcard li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 223, ../sass/screen.scss */
#wrap .content .factcard li i + a {
  font-size: 90%;
}
@media (max-width: 599px) {
  /* line 229, ../sass/screen.scss */
  #wrap .content #previews {
    width: 98.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media (min-width: 600px) {
  /* line 229, ../sass/screen.scss */
  #wrap .content #previews {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
/* line 237, ../sass/screen.scss */
#wrap .content #previews #teaser {
  width: 98.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-sizing: border-box;
}
/* line 245, ../sass/screen.scss */
#wrap .content #previews #teaser h2 {
  margin-top: 0.4em;
}
/* line 249, ../sass/screen.scss */
#wrap .content #previews #teaser img {
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  float: left;
  padding: 0.5em;
}
/* line 256, ../sass/screen.scss */
#wrap .content #previews .shortteaser {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-sizing: border-box;
}
@media (max-width: 599px) {
  /* line 256, ../sass/screen.scss */
  #wrap .content #previews .shortteaser {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  /* line 256, ../sass/screen.scss */
  #wrap .content #previews .shortteaser {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media (min-width: 800px) {
  /* line 256, ../sass/screen.scss */
  #wrap .content #previews .shortteaser {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
/* line 273, ../sass/screen.scss */
#wrap .content #previews p {
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: justify;
}
/* line 278, ../sass/screen.scss */
#wrap .content #previews p a {
  color: #b5b5ff;
  float: right;
}
/* line 282, ../sass/screen.scss */
#wrap .content #previews p a::before {
  content: "<";
}
/* line 286, ../sass/screen.scss */
#wrap .content #previews p a::after {
  content: ">";
}
/* line 292, ../sass/screen.scss */
#wrap .content #previews + #info {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
@media (max-width: 599px) {
  /* line 292, ../sass/screen.scss */
  #wrap .content #previews + #info {
    width: 98.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 295, ../sass/screen.scss */
  #wrap .content #previews + #info h2 {
    display: inline;
  }
  /* line 298, ../sass/screen.scss */
  #wrap .content #previews + #info h2::after {
    content: ": ";
  }
  /* line 302, ../sass/screen.scss */
  #wrap .content #previews + #info ul {
    list-style-type: none;
  }
  /* line 6, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
  #wrap .content #previews + #info ul, #wrap .content #previews + #info ul li {
    margin: 0;
    padding: 0;
    display: inline;
  }
  /* line 30, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
  #wrap .content #previews + #info ul li:after {
    content: " ⋄ ";
  }
  /* line 32, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
  #wrap .content #previews + #info ul li:last-child:after {
    content: "";
  }
  /* line 36, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
  #wrap .content #previews + #info ul li.last:after {
    content: "";
  }
}
@media (min-width: 600px) {
  /* line 292, ../sass/screen.scss */
  #wrap .content #previews + #info {
    width: 31.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
/* line 317, ../sass/screen.scss */
#wrap .content nav.article {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 0.5em;
  border: 1px solid white;
  box-sizing: border-box;
  background-color: #b5b5ff;
}
@media (max-width: 599px) {
  /* line 317, ../sass/screen.scss */
  #wrap .content nav.article {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    display: none;
  }
}
@media (min-width: 600px) {
  /* line 317, ../sass/screen.scss */
  #wrap .content nav.article {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
/* line 331, ../sass/screen.scss */
#wrap .content nav.article ul {
  list-style: none;
  padding-left: 10%;
  padding-right: 10%;
}
/* line 11, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_bullets.scss */
#wrap .content nav.article ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 336, ../sass/screen.scss */
#wrap .content nav.article ul li {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 0.25em;
}
/* line 342, ../sass/screen.scss */
#wrap .content nav.article ul ul {
  background-color: #6b6bff;
}
/* line 344, ../sass/screen.scss */
#wrap .content nav.article ul ul li {
  border-style: none;
}
/* line 349, ../sass/screen.scss */
#wrap .content article {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: 1px solid white;
  box-sizing: border-box;
  text-align: justify;
}
@media (max-width: 599px) {
  /* line 349, ../sass/screen.scss */
  #wrap .content article {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    float: left;
  }
}
@media (min-width: 600px) {
  /* line 349, ../sass/screen.scss */
  #wrap .content article {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
/* line 366, ../sass/screen.scss */
#wrap .content article img {
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  padding: 0.5em;
}
@media (max-width: 599px) {
  /* line 371, ../sass/screen.scss */
  #wrap .content article #left {
    width: 98.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media (min-width: 600px) {
  /* line 371, ../sass/screen.scss */
  #wrap .content article #left {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
/* line 379, ../sass/screen.scss */
#wrap .content article #left img {
  float: left;
  max-width: 75%;
}
@media (max-width: 599px) {
  /* line 385, ../sass/screen.scss */
  #wrap .content article #right {
    width: 98.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media (min-width: 600px) {
  /* line 385, ../sass/screen.scss */
  #wrap .content article #right {
    width: 48.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
/* line 393, ../sass/screen.scss */
#wrap .content article #right img {
  float: right;
  max-width: 75%;
}
